
.container {
  background-image: url('/img.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.header {
  background-color: rgba(34, 90, 49, 0.9);
  color: white;
  padding: 20px 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.logo {
  width: 50px;
  margin-right: 20px;
}

.auth span {
  margin-left: 10px;
}

.controls {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.controlBox {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

.button, .buttonOff {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.button {
  background-color: #226030;
  color: white;
}

.buttonOff {
  background-color: #ccc;
  color: #226030;
}
